@using WebAppCore.Ext;

@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<h2>Product list using htmlHelper</h2>
<div class="row">
    <div class="col-md-6">@Html.ListGroup().Info(new List<String> { "A", "B", "C" }, it => it + it)</div>
    <div class="col-md-6">@Html.ListGroup().Warning(new List<String> { "A", "B", "C" }, it => it + it)</div>
</div>
<div class="row">
    <div class="col-md-6">@Html.ListGroup().Danger(new List<String> { "A", "B", "C" }, it => it + it)</div>
</div>